@font-face {
    font-family: "Montserrat";
    src:
        url("tipografies/Montserrat-VariableFont_wght.ttf") format(woff2) tech(variations);
}

@font-face {
    font-family: "PlayDis";
    src:
        url("tipografies/PlayfairDisplay-VariableFont_wght.ttf") format(woff2) tech(variations);
}

@font-face {
    font-family: "cos";
    src:
        url("tipografies/YsabeauOffice-VariableFont_wght.ttf") format(woff2) tech(variations);
}

html {
    margin: 0;
    font-size: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/*DEFINIR EL COS DE LA PÀGINA*/
body {
    min-height: 100%;
    background-color: white;
    color: black;
    text-align: justify;
    overflow-x: hidden;

}

/* DEFINICIÓ DELS TÍTOLS I PARAGRAFS*/

body h1 {
    font-family: 'PlayDis';
    font-size: xx-large;
    color: black;

}

#Museu,
#Horarisitarifes {
    padding-left: 0px;
}

body h2 {

    font-family: 'cos';
    font-size: medium;

}

body h3 {

    font-family: 'PlayDis';

}

body h6 {
    font-family: 'cos';
    font-weight: 700;
}

body p {
    font-family: 'cos';
    font-size: large;
    text-align: justify;
}

hr {
    color: black;
}



/* DEFINICIÓ DEL MAIN - CONTÉ EL NAV */

main {
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: url("imatges\ balema/carrusel/video");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0;
    position: relative;
    overflow: hidden;
}

.banner video {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100vh;
    /* Cambia max-height a height */
    object-fit: cover;
}


main .banner img {
    position: relative;
}




/* DEFINICIÓ DE LA BARRA DE NAVEGACIÓ */

#titol1 {
    font-family: 'Montserrat';
    font-size: 100%;
    padding: 0;
    margin: 0;
    color: white;
    line-height: 100%;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    border-top-color: white;
    border-top-width: 1px;
    border-top-style: solid;

}

nav ul {
    list-style-type: none;
    padding: 2px;
    margin: 0;
    font-size: 100%;
    float: right;

}

nav ul li {
    display: inline;
    margin-right: 10px;

}

nav a {
    color: white;
    text-decoration: none;
}

/* DEFINICIÓ DELS ELEMENTS IMPLICATS EN LA DINÀMICA DEL MENU DESPLEGABLE */

.menu-icon svg {
    width: 40px;
    height: 40px;

}

.menu-icon,
#check {
    display: none;

}

.amagar-menu {
    display: none;
}

.amagar-menu svg {
    width: 40px;
    height: 40px;
    bottom: 0;


}


/* DEFINICIÓNS GENERALS!*/

/* DEFINICIÓ DE LES IMATGES EN GENERAL*/

img {
    width: 100%;
    height: auto;
}

/* DEFINICIÓ DE LES SECCIONS PER DONAR-LOS-HI BORDE COMPLERT*/
.borde {
    border-bottom-color: rgb(106, 106, 106);
    border-bottom-width: 1px;
    border-bottom-style: solid;

}

/* DEFINICIÓ DELS CONTAINERS*/
.container {
    margin: 5% 20px;
    width: 100%;
    padding-left: 0px;
}

.container .row {
    padding-left: 10px;
}



/*DEFINICIÓ DE LA PRIMERA SECCIÓ DEL MUSEU*/
.imatgecol {
    margin-bottom: 10px;
    height: 100%;
    padding-top: 10px;
    object-fit: cover;
}


.boto {
    color: black;
    border-color: black;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    margin-top: 10px;

    justify-content: center;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.boto:hover {
    color: rgb(255, 255, 255);
    border-color: black;
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    width: 100%;
    margin-top: 10px;

    justify-content: center;
    box-sizing: border-box;
}

/* DEFINICIÓ DEL ASIDE*/

aside {
    float: left;
    background-color: white;
    color: black;
    width: 250px;
    height: 4550px;
    bottom: 0px;
    margin-top: 40px;
    margin-right: 20px;
    padding: 20px;
    font-size: small;
    box-sizing: border-box;
    border-right-color: rgb(0, 0, 0);
    border-right-width: 1px;
    border-right-style: solid;
    text-transform: uppercase;
    font-family: 'cos';
}

aside h4 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'cos';
    padding: 2px;
}

.widget {
    margin-bottom: 30px;
}

.widget form input[type="email"],
.widget form input[type="password"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border-color: rgb(106, 106, 106);
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}

.widget form input[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s;

}

.widget form input[type="submit"]:hover {
    background-color: white;
    border-color: black;
    color: black;
    border-width: 1px;
    border-style: solid;
}

.widget ul {
    list-style-type: circle;
    padding-left: 20px;
}

.widget ul li {
    margin: 15px 0;
}

.widget blockquote {
    padding-left: 5px;

}

/*DEFINICIÓ DE LES OBRES*/
.futures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.actuals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.passades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.eines {
    flex: 0 0 calc(25% - 20px);
    /* Ajusta el ancho de las imágenes según el número de columnas deseadas */
    position: relative;
    padding: 15px;
    margin: 0px;

}

.eines img {
    filter: saturate(0%);
    width: 250px;
    object-fit: fill;
    overflow: hidden;


}

.eines>img:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: crosshair;
    transition: .5s ease;
    filter: contrast(120%) brightness(100%) saturate(100%);
}

.textactuals {
    color: #000;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 80%;
    transform: translateY(20px);
}

.eines:hover .textactuals {
    opacity: 1;
}

.textactualsautor,
.textpassadesautor,
.textfuturesautor {
    font-style: italic;
    font-size: x-small;
    color: darkgrey;
}

.textpassades {
    color: #000;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 80%;
    transform: translateY(20px);
}

.eines:hover .textpassades {
    opacity: 1;
}

.textfutures {
    color: #000;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 80%;
    transform: translateY(20px);
}

.eines:hover .textfutures {
    opacity: 1;
}

/*CODI PER A L'APARTAT D'ARTISTES*/

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 5%;
}

.image-wrapper {
    flex: 0 0 calc(10% - 10px);
    /* Ajusta el ancho de las imágenes según el número de columnas deseadas */
    margin-bottom: 20px;
    position: relative;

}

.image-wrapper img {
    width: 100%;
    height: auto;
    filter: saturate(0%);
}

.image-wrapper>img:hover {
    opacity: 1;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    cursor: crosshair;
    transition: .5s ease;
    transform: scale(1.1);
    filter: contrast(120%) brightness(100%) saturate(100%);
}

.nombre {
    color: #000;
    top: 5%;
    left: 50%;
    transform: translate(0%, 0%);
    text-align: center;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 80%;
}

.image-wrapper:hover .nombre {
    opacity: 1;
}




/* DEFINICIÓ DEL jensimons*/
.jensimmons {
    margin: 5% 0%;
}

.jensimmons ul {
    padding-left: 0px;
    list-style-type: none;
}

.jensimmons li {

    height: auto;
    padding: 10px;
    margin: 10px 0px;
    background: #ffffff;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.jensimmons h3 {
    margin: 0;
    font-size: 1em;
    color: black;
}



.jensimmons h5 {
    margin: 0;
    padding-top: 20px;
    font-size: 0.6em;
    color: black
}

.jensimmons p {
    margin: 0;
    font-size: 0.8em;
    color: black;
}





/* DEFINICIÓ DEL FOOTER*/
.peupagina {
    width: 100%;
    background-color: #000000;

}

.peupagina .grup1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 20px;


}

.peugpagina .box {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: white;
}

.peupagina .grup1 .box figure {
    width: 100%;
    height: auto;
    display: flex;

}

.peupagina .grup1 .box figure img {
    width: 210px;
}

.peupagina .grup1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.peupagina .grup1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.peupagina .grup1 .box .contacte {

    display: inline;

}

.peupagina .grup1 .box .contacte i {
    color: #ffffff;

}

.peupagina .grup1 .box a {
    text-decoration: none;
    color: white;

}

.peupagina .grup1 .box .xarxes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #000000;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
    border-color: rgb(0, 0, 0);

    border-width: 1px;
    border-style: solid;
}

.peupagina .grup1 .xarxes a:hover {
    color: rgb(255, 255, 255);
    border-color: white;
    background-color: black;
    border-width: 1px;
    border-style: solid;
}

.peupagina .grup2 {
    background-color: #ffffff;
    padding: 3px 10px;
    color: #000000;
}







/* DEFINICIÓ DELS MEDIA QUERIES*/


/*MEDIA QUERIES JEN SIMMONS*/

@supports ((display: -ms-grid) or (display: grid)) {

    @media (min-width: 850px) {

        /* autoprefixer: off */
        .jensimmons {

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 2vw;
            width: 100%;
        }

        .jensimmons ul {
            grid-row: 1 / 5;
            grid-column: 1 / 5;
        }

        .jensimmons ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0vw;
        }

        .jensimmons li {
            width: 100%;
        }


        .jensimmons li:nth-child(1) {
            grid-row-start: 1;
            grid-column-start: 2;
        }

        .jensimmons li:nth-child(2) {
            grid-row-start: 2;
            grid-column-start: 3;
        }

        .jensimmons li:nth-child(3) {
            grid-row-start: 3;
            grid-column-start: 1;
        }

        .jensimmons li:nth-child(4) {
            grid-row-start: 4;
            grid-column-start: 2;
        }
    }

}


@media (max-width:850px) {

    div .container {
        padding-left: 0px;
    }

    .image-container {
       
        margin: 15% 5%;
    }

    aside {
        width: 100%;
        height: 450px;
        border-right: white;
        border-bottom: black;
        border-bottom: 1px;
        border-bottom-style: solid;
        margin-bottom: 30px;
    }


    .checkbtn {
        display: block;
    }

    .menu-icon {
        display: block;
        position: 19, 8rem;

        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .amagar-menu {
        display: block;
        float: right;
        padding-right: 15px;

        cursor: pointer;
    }


    nav ul {
        display: block;
        position: fixed;
        top: 0px;
        left: -100%;
        background-color: black;

        width: 100%;
        height: 100vh;
        right: 0;
    }

    nav ul li {
        padding: 2rem;
        display: flex;
        justify-content: left;
        margin: 0;
    }

    #check:checked~ul {
        left: 0;
        transition: all 0.25s;


    }

    .peupagina .grup1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 30px;


    }


}


/*MEDIA QUIERIE DE LES OBRES*/

@media screen and (max-width:1400px) {
    .eines {
        flex: 0 0 calc(50% - 10px);
    }

    .eines img {
        width: 100%;
        filter: saturate(0%);
    }

    .eines>img:hover {
        transform: scale(1.1);
        height: auto;
        opacity: 1;
        cursor: crosshair;
        transition: .5s ease;
        filter: contrast(120%) brightness(100%) saturate(100%);
    }

    .textfutures {
        color: #000;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 80%;
    }

    .textpassades {
        color: #000;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 80%;
    }

    .textactuals {
        color: #000;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 80%;
    }
}



@media screen and (max-width: 500px) {
    .eines {
        margin: 0px;
        flex: 0 0 calc(100% - 10px);
    }

    .eines img {
        width: 100%;
        filter: saturate(0%);
    }

    .eines>img:hover {
        transform: scale(1.1);
        height: auto;
        opacity: 1;
        cursor: crosshair;
        transition: .5s ease;
        filter: contrast(120%) brightness(100%) saturate(100%);
    }

    .textfutures {
        color: #000;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 80%;
    }

    .textpassades {
        color: #000;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 80%;
    }

    .textactuals {
        color: #000;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 80%;
    }


    .image-wrapper {
        flex: 0 0 calc(50% - 10px);
        /* Cambia a 2 columnas en pantallas más pequeñas */
    }

}

@media screen and (max-width: 1000px) {
    .image-wrapper {
        flex: 0 0 calc(25% - 10px);
    }
}
